$color-application-background: #ededed;
$color-container-background-white: #F9F8F4;

// Color Definition For Common
$color-text-color: #000000;

// Color Definition For GlobalHeader
$color-global-header-background: #ffffff;
$color-global-header-font-color: #000000;

// Color Definition For GlobalFooter
$color-global-footer-background: #212121;
$color-global-footer-font-color: #ffffff;
$color-global-footer-caption: #D3D3D3;

$breakpoint-width: 960px;
$common-small-space: 20px;