@import "../../../constants/constants";

.app-bar {
  background-color: $color-global-header-background;
  color: $color-global-header-font-color;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12);
  height: 60px;
  padding-left: 15px;

  @media (min-width: $breakpoint-width) {
    height: 80px;
  }
}

.app-icon {
  margin-right: 5px;
  width: 111px;
  height: 30px;
}
