@import url('../../../node_modules/sanitize.css/sanitize.css');
@import '../constants/constants';

html,
body {
  font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'sans-serif', 'Emoji';
  font-size: 14px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: $container-width-size;
  background-color: $color-container-background-white;
}

.application {
  background-color: $color-application-background;
  min-height: 100%;
}
