@import '../../../constants/constants';

.gender-icon-container {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.gender-icon {
  width: 120px;
  height: 120px;
}

.male-icon {
  @extend .gender-icon;
  margin-right: 5px;
  margin-left: auto;
}

.female-icon {
  @extend .gender-icon;
  margin-right: auto;
  margin-left: 5px;
}
