@import '../../../constants/constants';

.title {
  margin-bottom: 60px;
}

.gender-icon-container {
  display: flex;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
