@import "../../constants/constants";

.content {
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-box {
  margin-bottom: 20px;
}

.result-card {
  padding: 20px;
  margin-bottom: 10px;
}