@import "../../../constants/constants";

.container {
  display: flex;
  padding: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pass-input {
  margin-bottom: $common-small-space;
}
