{
  "presets": [
    "react",
    "es2015"
  ],
  "plugins": [
    "array-includes",
    "transform-object-rest-spread",
    "react-hot-loader/babel",
    [
      "react-css-modules",
      {
        "generateScopedName": "[name]__[local]___[hash:base64:5]",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ]
  ]
}